<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>Student Record {{ student }} {{ studentfirstname }}</h1>

<p>{{student_name}} has been successfully added.</p>

<h2>Add Project Grades</h2>
   <form action="/addproject">
        <input type="hidden" name="studentfirstname" value="{{ studentfirstname }}">
        <label for="projectname">Enter project name:</label>
        <input type="text" name="projectname"/>
        <label for="projectgrade">Enter grade:</label>
        <input type="text" name="projectgrade">
        <input type ="submit">
    </form>  
   
{% if newprojectgrade %}

      <p>{{newprojectgrade}} has been successfully added.</p>}


{% endif %}

</body>
</html>